<div class="container_big_card">
  <div class="big_card_photo">
    <img
    src="https://disney.images.edge.bamgrid.com/ripcut-delivery/v2/variant/disney/a707480b-6d14-45d4-bca3-b4ffc87e8487/compose?aspectRatio=1.78&format=webp&width=1200"
    alt=""
    height="200px"
    srcset=""
    >
  </div>
  <div class="big_card_title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big_card_description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Cras ullamcorper scelerisque blandit. Mauris quis lorem purus.
        Sed tempus lectus id pretium fermentum. Praesent pharetra ligula
        quis elementum egestas. Proin at fermentum augue.
      </a>
    </p>
  </div>
</div>
